<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dekanat.Properties.Settings.DB_GroupsConnectionString"
            connectionString="Data Source=DESKTOP-7GQT4U6\SQLEXPRESS;Initial Catalog=DB_Groups;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>